.side-bar-first-button-div {
    background-color: rgba(33, 33, 33, 1);
    cursor: pointer;
    text-align: center;
    padding-top: 4px;
}

.side-bar-button-div {
    cursor: pointer;
    width: 1fr;
    height: 1fr;
    text-align: center;
    background-color: rgba(33, 33, 33, 1);
}

.side-bar-button {
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.side-bar-button-div:hover,
.side-bar-button:hover {
    opacity: 0.8;
    background-color: #3f3e3e;
}

.side-bar-icons-text{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    flex-direction: column;
}