.thumbnail {
    width: 300px;
}


.header-grid {
    display: grid;
    background-color: lightgreen;
    height: 6vh;
    grid-template-columns: 1fr 1fr 1fr;

}

.subheader-div {
    background-color: gray;
    height: 6vh;
}

.left-bar-grid {
    background-color: rgba(33,33,33,1);
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
}

.right-bar-div {
    background-color: white;
}

.page-layout-grid {
    display: grid;
    grid-template-columns: 8vw 1fr;
    grid-template-rows: 100vh;
}

.videos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.video-div {
    border-style: groove;
    background-color: aliceblue;
    margin: 10px;
}
