p {
    margin: 0;
}

.videos-flexbox {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 10px;
}

.video-container {
    display: flex;
    flex-direction: column;
    width: 332px;
    height: 312px;
    margin: 10px 10px;
    text-align: center;
    cursor: pointer;
}

.description-grid {
    display: grid;
    grid-template-columns: 60px 1fr;
    height: 122px;
}

.description-left-section {
    background-color: #151515;
}

.description-right-section {
    display: flex;
    flex-direction: column;
    background-color: #151515;
}

.thumbnail-image {
    width: 332px;
    height: 190px;
}

.thumbnail-copyright-image {
    width: 332px;
    height: 190px;
    /*
    -webkit-filter: blur(10px);
    filter: blur(10px);
     */
}

.description-icon {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-top: 10px;
}

.title {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 20px;
    color: white;
    text-align: start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.author {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: start;
    color: gray;
}

.advertisement-div {
    height: 122px;
    width: 1fr;
    background-color: #151515;
}